[submodule ".registry"]
	path = .registry
	url = https://github.com/jonocarroll/jonocarroll.r-universe.dev
	branch = HEAD
[submodule "ggeasy"]
	path = ggeasy
	url = https://github.com/jonocarroll/ggeasy
[submodule "ggghost"]
	path = ggghost
	url = https://github.com/jonocarroll/ggghost
[submodule "mathpix"]
	path = mathpix
	url = https://github.com/jonocarroll/mathpix
[submodule "ntfy"]
	path = ntfy
	url = https://github.com/jonocarroll/ntfy
